/******************************************
************* BREAK POINTS ****************
******************************************/
$break-small: 680px;



/*******************************************
*************   COLORS   *******************
*******************************************/

// NORMALIZE COLORS BY NAME
$light-green: #BCF5A9;


// USAGE
$main-background: $light-green;
