/******************************************
************* BREAK POINTS ****************
******************************************/
$break-point-1: 420px;
$break-point-2: 680px;
$break-point-3: 900px;



/******************************************
*************     SIZES    ****************
******************************************/
$smallest: 18px;
$small: 20px;
$medium: 30px;
$big: 60px;
$biggest: 90px;


/*******************************************
*************   COLORS   *******************
*******************************************/

// NORMALIZE COLORS BY NAME
$main-color: #D54D7B;
$secondary-light: #FFFFFF;
$secondary-dark: #222222;
$error: #B40431;
$light-gray: #EAEAEA;
$dark-gray: #2E2E2E;
