/******************************************
************* BREAK POINTS ****************
******************************************/
$break-small: 680px;
$break-medium: 1000px;



/******************************************
*************     SIZES    ****************
******************************************/
$smallest: 20px;
$small: 25px;
$medium: 35px;
$big: 45px;
$biggest: 60px;


/*******************************************
*************   COLORS   *******************
*******************************************/

// NORMALIZE COLORS BY NAME
$light-green: #BCF5A9;
$green: green;
$red: red;

// USAGE
$main-background: $light-green;
$title-color: $green;
$bordersColor: $green;
$error: $red;