@import "parameters";

.players-selector-container {
  display: block;
  border: solid 2px $bordersColor;
  border-radius: 30px;
  padding: 45px 30px;
  margin: auto;
  width: 600px;
  text-align: center;

  @media (max-width: $break-medium) {
    width: 60%;
  }

  .title {
    font-size: $medium;
  }

  .player-container {
    padding: 15px 15px;

    label {
      font-size: $smallest;
    }

    input {
      margin: 15px 0 0 15px;
    }

    .input-error {
      border: solid 3px $error;
    }
  }
}
