@import "parameters";

.round-form-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: $light-gray;
  border: solid 2px $main-color;
  border-radius: 30px;
  padding: 20px 30px 35px 30px;
  width: 600px;


  @media (max-width: $break-point-2) {
    width: 60%;

    select {
      max-width: 80%;
    }
  }

  .title {
    font-size: $big;
    line-height: 60px;
    font-weight: bold;
    text-shadow: 0 0.5px 0.5px $secondary-light,
    -1px -1px 0 $dark-gray,
    1px -1px 0 $dark-gray,
    -1px 1px 0 $dark-gray,
    1px 1px 0 $dark-gray;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
  }

  .player-container {
    font-size: $medium;
    line-height: 40px;
    font-weight: bold;
    text-shadow: 0 0.5px 0.5px $secondary-light,
    -1px -1px 0 $dark-gray,
    1px -1px 0 $dark-gray,
    -1px 1px 0 $dark-gray,
    1px 1px 0 $dark-gray;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
  }

  select {
    display: block;
    cursor: pointer;
    margin: 10px auto;
    width: 80%;
    text-align-last: center;
  }

  input[type="submit"] {
    margin-top:15px !important;
    border-color: $main-color;
  }

  img {
    margin: 15px 10px 0 0;
  }
}

.round-result {
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 4s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 4s;
    position: relative;
    color: $main-color;
    font-family: "Great Vibes", cursive;
    font-size: $big;
    line-height: 40px;
    font-weight: normal;
    margin: 15px 0;
    text-align: center;
    text-shadow: 0 1px 1px $secondary-light,
    -1px -1px 0 $secondary-dark,
    1px -1px 0 $secondary-dark,
    4px 4px 0 $secondary-light,
    5px 5px 0 $secondary-light,
    6px 6px 0 $secondary-light,
    7px 7px 0 $secondary-light;
    letter-spacing: 0.1em;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
  }
