@import "parameters";

.score-container {
  padding-left: 50px;
  margin-bottom: 20px;

  .title {
    font-size: $medium;
    line-height: 60px;
    font-weight: bold;
    text-shadow: 0 0.5px 0.5px $secondary-light,
    -1px -1px 0 $dark-gray,
    1px -1px 0 $dark-gray,
    -1px 1px 0 $dark-gray,
    1px 1px 0 $dark-gray;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
  }

  .score-bar {
    display: inline-flex;

    .column {
      display: inline-block;

      .cell {
        display: block;
        max-height: 23px;
        padding: 10px;
        vert-align: middle;
        font-size: $small;
        border: solid 1px $main-color;
        font-weight: bold;
        text-shadow: 0 0.5px 0.5px $secondary-light,
        -1px -1px 0 $dark-gray,
        1px -1px 0 $dark-gray,
        -1px 1px 0 $dark-gray,
        1px 1px 0 $dark-gray;
        letter-spacing: 0.1em;
      }

      .image {
        height: 43px;
        max-height: 43px;
        padding: 0;
      }

      .total-score {
        text-shadow: 0 0.5px 0.5px $secondary-light,
        -1px -1px 0 $main-color,
        1px -1px 0 $main-color,
        -1px 1px 0 $main-color,
        1px 1px 0 $main-color;
      }
    }

  }

}
